.container{
  width: 80%;
  margin-top: 15px;
}
.show-hide-list>div>input[type="text"]{
  width: 100%;
  padding: 1%;
  border-radius:5px 5px 5px 5px;
}
.show-hide-list>div>div>ul{
  list-style: none;
  margin-left: -40px;
}
.show-hide-list>div>div>ul>li{
  padding: 5px;
  font-size: larger;
  background-color: white;
  border-left: 0.2px solid #a8a8a8;
  border-right: 0.2px solid #a8a8a8;
}
.show-hide-list>div>div>ul>li:first-child{
  border-top: 0.2px solid #a8a8a8;
}
.show-hide-list>div>div>ul>li:last-child{
  border-bottom:0.2px solid #a8a8a8;
}
.show-hide-list>div>div>ul>li:hover{
  background-color: #7e7e7e
}
.btn{
  font-size: large;
  margin-top: 10px;
  background-color: #0099cc;
}
.btnDisable{
  background-color: #cccccc;
}
